<div class="fixed top-0 z-50 w-full px-4 py-3 bg-slate-800 text-white shadow-lg">
  <nav class="container mx-auto flex items-center justify-between">
    <button
      appButton
      type="button"
      routerLink="/"
      class="flex items-center gap-3 text-xl font-bold tracking-tight cursor-pointer"
    >
      <span class="text-amber-500 text-5xl leading-none">ET</span>

      <span class="relative text-2xl font-medium leading-tight top-1"> Extension Tlhareseng </span>
    </button>

    <div class="flex items-center gap-4">
      <button
        appButton
        variant="ghost"
        type="button"
        class="flex items-center gap-2 text-white hover:bg-white/20 cursor-pointer p-3 hover:rounded-md"
        routerLink="/cart"
      >
        <lucide-icon name="FolderKanban" class="w-4 h-4 text-white" />
        <span>Projects</span>
        <span
          class="relative -top-1 -right-1 w-5 h-5 flex items-center justify-center bg-amber-500 text-xs font-medium rounded-full"
        >
          7
        </span>
      </button>
      <button
        routerLink="/profile"
        appButton
        variant="ghost"
        type="button"
        class="flex items-center gap-2 text-white hover:bg-white/20 cursor-pointer p-3 hover:rounded-md"
      >
        <lucide-icon name="User" class="w-4 h-4" />
        <span>Profile</span>
      </button>
      <button
        appButton
        variant="ghost"
        type="button"
        class="flex items-center gap-2 text-white hover:bg-white/20 cursor-pointer p-3 hover:rounded-md"
      >
        <lucide-icon name="LogOut" class="w-4 h-4" />
        <span>Logout</span>
      </button>
    </div>
  </nav>
</div>
